<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/Account.css') }}">
    <title>Modifier son profil</title>
</head>
<body class="flexColumn">
    {{ include('commons/navigation.html.twig') }}
    <main class="mainEliquid">
        <h1>Modifier mon profil</h1>
        <article class="articleCard">
            <div class="formRegister">
                <span class="delete">
                    <a href="{{ path('deleteUser', {'id':app.user.id}) }}">Supprimer mon profil</a>
                </span>
                <div class="form">
                    {{ form_start(userForm, {'attr':
                        {'class':'form'}}) }}
                    {{ form_row(userForm.lastname, {
                        label:'Prénom','attr':
                        {'class':'form'}}) }}
                    {{form_row(userForm.name, {
                        label:'Nom','attr':
                        {'class':'form'}}) }}
                    {{ form_row(userForm.dateOfBirth, {
                        label:'Date de naissance','attr':
                        {'class':'form'}}) }}
                    {{ form_row(userForm.address, {
                        label:'Adresse','attr':
                        {'class':'form'}}) }}
                    {{ form_row(userForm.email, {label:
                        'Email','attr':
                        {'class':'form'}}) }}
                    {{ form_row(userForm.plainPassword, {
                        label: 'Mot de passe',
                        'attr':{'class':'form'}
                    }) }}
                    {{ form_end(userForm) }}
                </div>
            </div>
        </article>

    </main>
</body>
</html>