<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="{{ asset('assets/css/Account.css') }}"> -->
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
    <title>S'enregistrer</title>
</head>
<body>
    {{ include('commons/navigation.html.twig') }}
    <main>
        <h1>S'enregistrer</h1>
        <article class="articleCard">
            {{ form_start(registrationForm, {'attr':
                {'class':'flex-centered'}}) }}
            {{ form_row(registrationForm.lastname, {
                label:'Prénom','attr':
                {'class':'stylisedInput'}}) }}
            {{form_row(registrationForm.name, {
                label:'Nom','attr':
                {'class':'stylisedInput'}}) }}
            {{ form_row(registrationForm.dateOfBirth, {
                label:'Date de naissance','attr':
                {'class':'stylisedInput'}}) }}
            {{ form_row(registrationForm.address, {
                label:'Adresse','attr':
                {'class':'stylisedInput'}}) }}
            {{ form_row(registrationForm.email, {label:
                'Email','attr':
                {'class':'stylisedInput'}}) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                'attr':{'class':'stylisedInput'}
            }) }}
            {{ form_row(registrationForm.agreeTerms, {'label': 'Accepter les conditions'}) }}
            {{ form_end(registrationForm) }}
        </article>
    </main>
    {{ include('commons/footer.html.twig') }}
</body>
</html>


