<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Produits
    </h1>
    <a href="{{ path('createBox') }}">Ajouter un produit</a>
    <div>
        <h2>Box en Stock</h2>
        {% for box in boxActive %}
        <a href="{{ path('showBox', {'id': box.id}) }}">
            <img src="{{ asset('uploadDirectory/' ~ box.img) }}" alt="SEO à completer">
        </a>
        <p>
            {{ box.brand }}
        </p>
        {# <p>
            {{ box.price }}
        </p> #}
        <a href="{{ path('updateBox', {'id': box.id}) }}">Modifier le produit</a>
        {% endfor %}
    </div>
    <div>
        <h2>Box  hors Stock</h2>
        {% for box in boxUnactive %}
        <p>
           {{ box.brand}}
        </p>
        {# <p>
            {{ box.price }} euros
        </p> #}
        {% endfor %}
    </div>
</body>
</html>