<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/products.css') }}">
    <title>Les boxs</title>
</head>
<body>
    {{ include('commons/navigation.html.twig') }}
    <main class="mainEliquid">
        <h1 class="textPage">
           Les Boxs
        </h1>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="roleAdminA" href="{{ path('createBox') }}">Ajouter un produit</a>
        {% endif %}
        <section>
            {% for box in boxs %}
            <article class="box">
                        <a href="{{ path('showBox', {'id': box.id}) }}">
                            <img src="{{ asset('uploadDirectory/' ~ box.img) }}" alt="image de la box : {{ box.brand }}">
                        </a>
                        <p>
                           Marque: {{ box.brand }}
                        </p>
                        <p>
                            Tarif: {{ box.price }} euros
                        </p>
                    <!--<div class="{{ box.stock > 0 ? (box.stock < 10 ? 'danger-color flex-centered' : 'success-color') : 'danger-color' }}">
                    {% if box.stock >=0 and box.stock < 10 %}
                        <p class="warn warning"></p>
                    {% endif %}
                        <div class="ml-2">
                            {{ box.stock > 0 ? (box.stock < 10 ? 'Il n\'en reste plus que ' ~ box.stock ~ ' en stock' : 'en stock') : 'hors stock' }}
                        </div>
                    </div>-->
                        {% if is_granted('ROLE_ADMIN') %}
                <a class="roleAdminM" href="{{ path('updateBox', {'id': box.id}) }}">Modifier le produit</a>
                {% endif %}
            </article>
            {% endfor %}
        </section>
    </main>
    {{ include('commons/footer.html.twig') }}
</body>
</html>