<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/scrollBar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/updateBox.css') }}">

    <title>Document</title>
</head>
<body class="flexColumn">
    {{ include('commons/navigation.html.twig') }}
    <main>
        <article>
            <div class="card">
                <a href="{{ path('deleteBox', {'id': id}) }}">Supprimer le produit</a>
                <div>
                    {{ form(boxForm) }}
                </div>
            </div>
        </article>
    </main>

</body>
</html>