<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/createEliquid.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
    <title>Ajouter un produit</title>
</head>
<body>
    {{ include('commons/navigation.html.twig') }}
    <main>
        <h1>Ajouter un Eliquide</h1>
        <article class="articleCard">
            {{ form_start(eliquidForm, {'attr':
                {'class':'flex-centered'}}) }}
            {{ form_row(eliquidForm.name, {
                label:'Nom','attr':
                {'class':'stylisedInput'}}) }}
            {{ form_row(eliquidForm.brand, {
                label:'Marque','attr':
                {'class':'stylisedInput'}}) }}
            {{form_row(eliquidForm.flavor, {
                label:'Saveur','attr':
                {'class':'stylisedInput'}}) }}
            {{ form_row(eliquidForm.price, {
                label:'Prix','attr':
                {'class':'stylisedInput'}}) }}
            {{ form_row(eliquidForm.size, {
                label:'Contenance','attr':
                {'class':'stylisedInput'}}) }}
            {{ form_row(eliquidForm.stock, {label:
                'Stock','attr':
                {'class':'stylisedInput'}}) }}
            {{ form_row(eliquidForm.img, {
                label: 'Image',
                'attr':{'class':'stylisedInput'}
            }) }}
            {{ form_end(eliquidForm) }}

        </article>
    </main>
</body>
</html>