<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/scrollBar.css') }}">
    <link rel="stylesheet" href="assets\css\listEliquid.css">
    <title>Document</title>
</head>
<body>
    <h1>
        Produits
    </h1>
    <a href="{{ path('createEliquid') }}">Ajouter un produit</a>

    <div>
        <h2>Les Eliquides</h2>
        {% for product in products %}
            <a href="{{ path('showEliquid', {'id': product.id}) }}">
                <img src="{{ asset('uploadDirectory/' ~ product.img) }}" alt="Seo à completer">
            </a>

            <p>
                {{ product.brand.id }}
            </p>
            <p>
                {{ product.name }}
            </p>
            <p>
                {{ product.price }} euros
            </p>
            <a href="{{ path('updateEliquid', {'id': product.id}) }}">Modifier un produit</a>
    </div>
        {% endfor %}
</body>
</html>