<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/products.css') }}">
    <title>Le E-liquides</title>
</head>
<body>
    {{ include('commons/navigation.html.twig') }}
    <main class="mainEliquid">
        <h1 class="textPage">
            Les Eliquides
        </h1>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="roleAdminA" href="{{ path('createEliquid') }}">Ajouter un produit</a>
        {% endif %}
        <section>
            {% for product in eliquids %}
            <article class="box">
                        <a href="{{ path('showEliquid', {'id': product.id}) }}" class="flex-column">
                            <img src="{{ asset('uploadDirectory/' ~ product.img) }}" alt="Seo à completer" class="sizedImg">
                        </a>
                        <p>
                            Marque: {{ product.brand }}
                        </p>
                        <p>
                            Nom du produit: {{ product.name }}
                        </p>
                        <p>
                            Tarif: {{ product.price }} euros
                        </p>
                <!--<div class="{{ product.stock > 0 ? (product.stock < 10 ? 'danger-color flex-centered' : 'success-color') : 'danger-color' }}">
                            {% if product.stock >=0 and product.stock < 10 %}
                                <p class="warn warning"></p>
                            {% endif %}
                            <div class="ml-2">
                                {{ product.stock > 0 ? (product.stock < 10 ? 'Il n\'en reste plus que ' ~ product.stock ~ ' en stock' : 'en stock') : 'hors stock' }}
                            </div>-->
                        </div>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="roleAdminM" href="{{ path('updateEliquid', {'id': product.id}) }}" class="flex-column">Modifier un produit</a>
                {% endif %}
            </article>
            {% endfor %}
        </section>
    </main>
    {{ include('commons/footer.html.twig') }}
</body>
</html>