<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/scrollBar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/products.css') }}">
    <title>Document</title>
</head>
<body>
    {{ include('commons/navigation.html.twig') }}
    <main>
        <h1 class="textPage">
            Les Eliquides
        </h1>
        <a href="{{ path('createEliquid') }}">Ajouter un produit</a>
        <section>
            {% for product in eliquids %}
            <article class="box">
                        <a href="{{ path('showEliquid', {'id': product.id}) }}" class="flex-column">
                            <img src="{{ asset('uploadDirectory/' ~ product.img) }}" alt="Seo à completer" class="sizedImg">
                        </a>
                        <p>
                            {{ product.brand }}
                        </p>
                        <p>
                            {{ product.name }}
                        </p>
                        <p>
                            {{ product.price }} euros
                        </p>
                        <p class="{{ product.stock > 0 ? (product.stock < 10 ? 'danger-color' : 'success-color') : 'danger-color' }}">
                            {{ product.stock > 0 ? (product.stock < 10 ? 'Il n\'en reste plus que ' ~ product.stock ~ ' en stock' : 'en stock') : 'hors stock' }}
                        </p>
                        <a href="{{ path('updateEliquid', {'id': product.id}) }}" class="flex-column">Modifier un produit</a>
            </article>
            {% endfor %}
        </section>
    </main>
</body>
</html>