<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/contact.css') }}">
    <title>Contactez-nous</title>
</head>
{{ include('commons/navigation.html.twig') }}
<body>
<main>
    <div class="contact" id="contact">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11309.25598592946!2d-0.5734397!3d44.87625859999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55284ff37e190f%3A0x6a743820112efb38!2sCampus%20du%20Lac!5e0!3m2!1sfr!2sfr!4v1658395164929!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>
            Ce site est à titre informatif. Pour toutes demandes, n'hesitez pas à venir nous vous ou nous contacter à l'adresse suivante :  <br>
            vapestorebordelais@gmail.com <br>
            ou de nous appeler au: <br>
            0506070809
        </p>
    </div>
    <h1>Contactez-nous</h1>
    <article class="articleCard">
        {{ form_start(contactForm, {'attr':
            {'class':'flex-centered'}}) }}
        {{ form_row(contactForm.name, {
            label:'Nom','attr':
            {'class':'stylisedInput'}}) }}
        {{ form_row(contactForm.email, {
            label:'Email','attr':
            {'class':'stylisedInput'}}) }}
        {{ form_row(contactForm.title, {
            label:'Titre du message','attr':
            {'class':'stylisedInput'}}) }}
        {{ form_row(contactForm.message, {label:
            'Message','attr':
            {'class':'stylisedInput'}}) }}
        {{ form_row(contactForm.submit, {
            label: 'Envoyer'
        }) }}
        {{ form_end(contactForm) }}
    </article>

</main>
{{ include('commons/footer.html.twig') }}
</body>
</html>
