<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/scrollBar.css') }}">

    <title>Document</title>
</head>
{% block body %}
<body>
    <header>
        <nav class="principalNav">
            {% if app.user %}

            {% endif %}
                <div class="eliquid">
                    <a href="{{ path('listEliquid') }}">les E-liquids</a>
                </div>
                <div class="box">
                    <a href="{{ path('listBox') }}">les boxs</a>
                </div>
                <div class="myAccount">
                    <a href="{{ path('myAccount') }}">mon profil</a>
                </div>
                <div class="connexion">
                    <a href="{{ path('app_login') }}">Connexion</a>
                </div>
                <a  href="{{ path('basketView') }}"><img class="panier" src="assets/img/panier.jpg" alt=""></a>
        </nav>
        {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnecter</a>
        </div>
        {% endif %}
        <img src=" assets/img/homePhoto.jpg" alt="photo de vapote ">
    </header>


</body>
{% endblock %}
</html>